.callout {
   padding-top: 15px;
   color: #fff;
   text-align: center;
   @include smoothFont;
   background: $blue;
   @media (min-width: $small) {
      padding: 0;
      min-height: 500px;  
   }  
}
.callout__text {
   display: inline-block;
   padding: 5% 10% 0 10%;
   @media (min-width: $small) {
      width: 30%;
   }   
}
.callout__image {
   display: inline-block;
   @media (min-width: $small) {
      width: 50%;
      float: right;
      min-height: 500px;
      background: $blue url(../img/callout_client-meeting.jpg) no-repeat 25%;
      background-size: cover;
   }
}
.callout__image--home {
   
}
.callout__heading {}
.callout__statement {
   font-size: 1.5em;
   line-height: 1.5em;
}
.callout__statement--quote {
   font-style: italic;
   padding-bottom: 2em;
}
.callout__cta {
   @extend .hero__cta;
}