.section__contact-info {
   margin: 0 auto;
   line-height: 1.25em;
   padding-bottom: 60px;
   color: #fff;
   a {
      text-decoration: none;
      color: #fff;
   }
   @media (min-width: $small) {
      br { 
         display: none
      }
      .footer__phone, .footer__email {
         display: inline-block;
      }
   }   
}
@media (min-width: $medium) {
   .footer__phone:after { 
      content: "|";
      padding: 0 15px 0 20px;
   }
}
.contact-info__duxbury {
   background: $dkblue url(../img/map_duxbury.jpg) no-repeat;
}
.contact-info__boston {
   background: $dkblue url(../img/map_boston.jpg) no-repeat;
}
.contact-info__duxbury, .contact-info__boston {
   display: block;
   font-size: 1em;
   line-height: 1.5em;
   vertical-align: top;
   background-size: cover;
}
.contact__details {
   padding: 15% 0;
   @media (min-width:$small) {
      padding: 15% 10%;
   }
}
.footer__break {
   line-height: .25;
   display: block;
}
.footer__city {
   display: block;
   @include capSans;
   font-weight: 700;
   margin-bottom: .85em;
}
.footer__email {
   font-weight: bold;
}
.footer__phone {
   //padding-top: 1em;
}
