.services {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 0;   
  text-align: center;
  background: $blue;
  color: $brown;
  @media (min-width: $small) {
    background: none;
    padding: 0 0 2.5%;
    border-bottom: 20px solid $dkblue; 
  }       
}
.services__service {
   display: block;
   width: 80%;
   max-width: 640px;
   padding: 15% 10%;
   border-bottom: 1px solid $blue;
   margin: 0 auto;
   font-size: 1rem; 
   background: $dkblue;
   font-family: $sans;
   vertical-align: top;
   @include smoothFont;
   &:last-child {
      border:none;
   }
   @media (min-width: $small) {
      display: inline-block;
      //min-height: 200px;
      max-width: 360px;
      width: 25%;
      margin: 0 auto;
      padding: 60px 2.5%;
   }
} 
.services__service-heading {
   @include capSans;
   font-weight: 900;
   letter-spacing: 2px;
   color: $yellow;
   font-size: 1.35rem;
   line-height: 1.25em;
   &:after {
      display: block;
      content: "";
      height: 1px;
      width: 100px;
      border-bottom: 1px solid #fff;
      margin: 10px auto;
      white-space: pre-wrap;
   }
}
.services__service-description {
   font-size: .9em;
   line-height: 1.5em;
   letter-spacing: .025em;
   padding-bottom: 10%;
   color: #fff;
}
.services__service-cta {
  display: inline-block;        
  font-size: .8em;
  color: $yellow;
  @include capSans;  
  font-weight: 700;
  @media (min-width: $small) {
     display: none;
  }
}