@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato:400,700,900');

$blue:    #556476;
$dkblue:  #37485A;
$ltgray:  #e7eaed;
$gray:    #d7dce1;
$brown:   #827871;
$yellow:  #e8af3d;

$sans:    'Lato', sans-serif;
$serif:   'Crimson Text', serif;

$small: 820px;
$medium: 1280px;