@import 'reset';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'services';
@import 'footer';
@import 'animation';

.section__heading {
  font-size: 1.75em;
  line-height: 2em;
  padding: 30px 0;
  @include smoothFont;
}