@import 'reset';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'nav';
@import 'services';
@import 'callout';
@import 'footer';
@import 'animation';

.section__heading {
   font-size: 1.25em;
   line-height: 2em;
   padding: 30px 0;
   display: inline-block;
   text-align: center;
   @include smoothFont;
   @include capSans;
   letter-spacing: 3px;
   font-weight: 900;
}
.section__heading--darkbg {
   color: #fff;
}

.section__cta {
   display: inline-block;
   width: auto;
   margin: 0 auto 60px;
   padding: 15px 20px;
   border: 1px solid #fff;
   text-decoration: none;
   color: #fff;
   transition: background .5s;
   @include capSans;
   &:hover {
      background: #fff;
      color: $blue;
      transition: background .5s;
   }
}