.about__blockquote {
  margin: 1.5em 0;
  padding: 40px;
  padding-right: 15%;
  font-size: 1.5em;
  letter-spacing: .03em;
  line-height: 1.5;
  font-style: italic;
  font-family: $serif;
  background: $ltblue;
}
.about__header {
  margin-bottom: 3em;
  @media (min-width: 575px) {
  }
}
.about__header-image {
  display: inline-block;
  width: 100%;
  @media (min-width: 575px) {
    width: 40%;
    max-width: 400px;
    margin-right: 2em;
  }
}
.about__header-description {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 2em 0;
  border: 1px solid $yellow;
  border-left: none;
  border-right: none;
  font-size: 1.25em;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  @media (min-width: 575px) {
    width: 40%;
  }
}
.about__paragraph {
  font-size: .85em;
  margin-bottom: .5em;
  line-height: 1.5;
}
.about__bulleted-list {
  font-size: .85em;
  padding-left: 1em;
  margin-bottom: 2em;
}
