.callout {
   padding-top: 15px;
   color: #fff;
   text-align: center;
   @include smoothFont;
   background: $blue url(../img/bg_tesimonials.jpg) no-repeat 25%;
   background-size: cover;
   @media (min-width: $small) {
      background: $blue;
      padding: 0;
      min-height: 500px;
   }
}
.callout__text {
   position: relative;
   overflow: hidden;
   display: inline-block;
   padding: 5% 12% 0 12%;
   font-size: .85em;
   @media (min-width: $small) {
      width: 34%;
      padding: 100px 8% 0 8%;
      min-height: 497px;
   }
   @media (min-width: $medium) {
          font-size: 1em;
   }
}
.callout__image {
   display: inline-block;
   @media (min-width: $small) {
      width: 50%;
      float: right;
      min-height: 600px;
      background: $blue url(../img/bg_tesimonials.jpg) no-repeat 25%;
      background-size: cover;
   }
}
.callout__heading {}
.callout__statement {
   font-size: 1.25em;
   line-height: 1.5em;
}
.callout__statement--quote {
   font-style: italic;
   padding-bottom: 2em;
}
.callout__statement--author {
  display: block;
  margin-top: 10px;
  font-size: .8em;
  font-style: normal;
  font-family: $sans;
}
.callout__cta {
   @extend .hero__cta;
}
.testimonial__carousel-item {
  display: none ;
}
.testimonial__carousel-item--current {
  display: block;
}
