#testimonials .carousel-wrap {
  display: block;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

#testimonials .carousel-nav {
  display: block;
  width: 300px;
  margin: 0 auto;
}

#testimonials .carousel-nav .nextbtn {
  float: right;
}

#testimonials .carousel-wrap ul {
  display: block;
  list-style: none;
  position: relative;
}
#testimonials .carousel-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 400px;
  margin-right: 15px;
}

#testimonials .carousel-wrap .context {

}
.callout__arrow--left, .callout__arrow--right {
   position: absolute;
   top: 35%;
   width: 30px;
   height: 30px;
   @media (min-width: $small) {
      top: 45%;
   }
}
.callout__arrow--left {
   left: 1.5%;
}
.callout__arrow--right {
   right: 1.5%;
}

.topnav__menu {
  position: relative;
  padding-right: 2em;
  ul {
    display: flex;
    height: 3.25rem;
    overflow: hidden;
    flex-wrap: wrap;
    list-style: none;
  }
  li {
    a {
      display: block;
      white-space: nowrap;
    }
  }
  &.open {
    ul {
      height: auto;
      display: block;
    }
  }
}
.topnav__toggle {
  position: absolute;
  color: $yellow;
  font-size: 1.25em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  top: .85rem;
  right: 2rem;
  cursor: pointer;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
