.header {
  padding: 30px 15px 0;
  //min-height: 100px;
  text-align: center;   
  @media (min-width: $medium) {
     padding: 30px 60px 0 60px;
     text-align: right;
   }
}
.header__logo {
   position: relative;
   top: -5px;   
   display: inline-block;   
   max-width: 190px;   
   margin: 0 auto;
   padding: 0;
   @media (min-width: $medium) {
      float: left;
   }
}
.header__nav {
   display: block;
   @media (min-width: $medium) {
      display: inline-block;
      padding-top: 10px;
      text-align: right;
   }
}
.header__nav-items { }
.header__nav-item {
   display: inline-block;   
   @include capSans;
   font-size: .75em;
}
.header__nav-link {
   display: inline-block;
   color: $blue;
   padding: 20px .5em 20px;
   border-bottom: 5px solid #fff;
   &:hover {
      border-bottom: 5px solid $blue;
   }
   @media (min-width: $medium) {
      padding: 20px 1em 20px;
   }
}
.header__nav-item--service {
   display: none;
}
.header__nav-item--dropdown {
   display: inline-block;
}
@media (min-width: $small) {
   .header__nav-item--service {
      display: inline-block;
   }
   .header__nav-item--dropdown {
      display: none;
   }   
}