@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato:400,700,900');

$blue:    #556476;
$dkblue:  #37485A;
$ltgray:  #e7eaed;
$yellow:  #e8af3d;

$gray:    #aab1bb;
$brown:   #6D5B55;

$sans:    'Lato', sans-serif;
$serif:   'Crimson Text', serif;

/* viewport sizes */

$small: 820px;
$medium: 1280px;