$services-max-width: 960px;

#template__services {
   padding: 0;
}
.services__hero {
   min-height: 300px;
   background: url(../img/hero_residential-transaction-services.jpg) 40% 20%;
   background-size: cover;
   border-bottom: 15px solid $dkblue;
   text-align: center;
   .section__heading-container {
      display: inline-block;
      width: 100%;
      max-width: $services-max-width;
      padding: 60px 0;
      margin-top: 300px;
      text-align: left;
      background: rgba(99,113,130,.8);
   }
   .section__heading {
      padding: 0 30px;
      color: #fff;
      font-size: 1.5em;
      line-height: 1.25;
      font-weight: 400;
      letter-spacing: .1em;
      text-align: left;
   }
}
.section__services {
   max-width: $services-max-width;
   .section__heading {
      display: block;
      line-height: 1.25;
      color: $dkblue;
      text-align: left;
   }
}
.services__list-container {
   background: $blue;
}
.services__list-item {
   display: inline-block;
   color: #fff;
   @include smoothFont;
   @include capSans;
   font-size: .75em;
   line-height: 1.25;
   a {
      display: inline-block;
      padding: 1.5em;
      color: #fff;
      background: $blue;
      text-decoration: none;
      &:hover {
         background: $dkblue;
      }
   }
}
.services__list-item--selected a {
   background: $dkblue;
}
.service__details, .services__list--aside {
   background: rgba(255,255,255,.9);
}
.service__details {
   padding: 30px;
   margin: 0;
   color: $dkblue;
   font-family: $sans;
   .section__heading {
      font-weight: 700; 
   } 
}
.services__list--aside {
   margin: 0;
   padding: 0 30px 30px;
   .services__list-item a {
      margin: 0 10px 10px 0;
      color: #fff;
      background: $blue;
      &:hover {
         background: $dkblue;
      }
   }   
}
.service__paragraph {
   padding-bottom: 1.5em;
   line-height: 1.5; 
}
.bulleted-list {
   list-style: disc;
   margin-left: 20px;
   margin-bottom: 1.5em;
   line-height: 1.25;     
}
.bulleted-list__item {
   margin-bottom: .75em;
}

@media (min-width: $small) {
   .section__heading-container {   
      .section__heading {
         padding: 0 60px;
      }
   }
   .service__details {
      padding: 60px 60px 15px;
   }
}

@media (min-width: $medium) {
   .services__hero {
      min-height: 400px;
      .section__heading-container {
         margin-top: 400px;
      } 
   }
   .service__details {
      padding: 60px 60px 30px;   
   }
}    