@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato:400');

$blue:    #607286;
$ltgray:  #e7eaed;
$gray:    #d7dce1;
$brown:   #827871;
$yellow:  #f5a629;

$sans:    'Lato', sans-serif;
$serif:   'Crimson Text', serif;

$small: 820px;