/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lato:400,700,900");
/* line 6, ../../../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../../sass/_reset.scss */
body {
  line-height: 1;
  font-size: 16px;
  font-family: 'Crimson Text', serif;
}

/* line 36, ../../../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../../../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../../../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../../../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../../sass/_header.scss */
.header {
  width: 100%;
  text-align: center;
  min-height: 120px;
}
@media (min-width: 1280px) {
  /* line 1, ../../../sass/_header.scss */
  .header {
    text-align: left;
  }
}

/* line 9, ../../../sass/_header.scss */
.header__logo {
  display: inline-block;
  width: 75%;
  max-width: 300px;
  vertical-align: middle;
  margin: 0 auto;
  padding: 3em;
}
@media (min-width: 1280px) {
  /* line 9, ../../../sass/_header.scss */
  .header__logo {
    text-align: left;
    margin: 0;
  }
}

/* line 21, ../../../sass/_header.scss */
.header__navigation {
  display: inline-block;
}

/* line 1, ../../../sass/_nav.scss */
.header__navigation {
  margin-bottom: 1em;
}

/* line 4, ../../../sass/_nav.scss */
.header__nav-item {
  display: inline-block;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  padding: 1em;
}

/* line 10, ../../../sass/_nav.scss */
.header__nav-link {
  color: #556476;
}
/* line 12, ../../../sass/_nav.scss */
.header__nav-link:hover {
  color: #e8af3d;
}

/* line 1, ../../../sass/_hero.scss */
.hero {
  text-align: center;
  background: #556476 url(../img/duxbury-law-firm.jpg) 75% no-repeat;
  background-size: cover;
  padding: 30px 0;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 820px) {
  /* line 1, ../../../sass/_hero.scss */
  .hero {
    background: none;
  }
}

/* line 12, ../../../sass/_hero.scss */
.hero__statement {
  display: block;
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 550px;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* line 20, ../../../sass/_hero.scss */
.hero__cta, .callout__cta {
  display: inline-block;
  width: auto;
  margin: 0 auto 60px;
  padding: 15px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  transition: background .5s;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 30, ../../../sass/_hero.scss */
.hero__cta:hover, .callout__cta:hover {
  background: #fff;
  color: #556476;
  transition: background .5s;
}

@media (min-width: 820px) {
  /* line 37, ../../../sass/_hero.scss */
  .hero {
    background-attachment: fixed;
  }
  /* line 39, ../../../sass/_hero.scss */
  .hero .hero__statement {
    font-size: 1.75em;
  }

  /* line 43, ../../../sass/_hero.scss */
  .main__hero-services {
    background: #556476 url(../img/duxbury-law-firm.jpg) 50% 75% no-repeat;
    background-size: cover;
  }
}
/* line 1, ../../../sass/_services.scss */
.services {
  width: 100%;
  margin: 0 auto;
  padding: 2.5% 0;
  font-size: 0;
  text-align: center;
  background: #556476;
  color: #827871;
  border-bottom: 20px solid #37485A;
}
@media (min-width: 820px) {
  /* line 1, ../../../sass/_services.scss */
  .services {
    background: none;
    padding: 0 0 2.5%;
  }
}

/* line 15, ../../../sass/_services.scss */
.services__service {
  display: block;
  width: 70%;
  max-width: 640px;
  padding: 10%;
  margin: 2.5% auto;
  font-size: 1rem;
  background: #37485A;
  font-family: "Lato", sans-serif;
  vertical-align: top;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 820px) {
  /* line 15, ../../../sass/_services.scss */
  .services__service {
    display: inline-block;
    min-height: 200px;
    max-width: 360px;
    width: 25%;
    margin: 0 auto;
    padding: 2.5%;
  }
}

/* line 35, ../../../sass/_services.scss */
.services__service-heading {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #e8af3d;
  line-height: 1.25em;
}
/* line 41, ../../../sass/_services.scss */
.services__service-heading:after {
  display: block;
  content: "";
  height: 1px;
  width: 100px;
  border-bottom: 1px solid #fff;
  margin: 10px auto;
  white-space: pre-wrap;
}

/* line 51, ../../../sass/_services.scss */
.services__service-description {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: .025em;
  padding-bottom: 1em;
  color: #fff;
}

/* line 58, ../../../sass/_services.scss */
.services__service-cta {
  display: inline-block;
  font-size: .8em;
  color: #e8af3d;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

/* line 1, ../../../sass/_callout.scss */
.callout {
  padding-top: 15px;
  color: #fff;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #556476;
}
@media (min-width: 820px) {
  /* line 1, ../../../sass/_callout.scss */
  .callout {
    padding: 0;
    min-height: 500px;
  }
}

/* line 12, ../../../sass/_callout.scss */
.callout__text {
  display: inline-block;
  padding: 5% 10% 0 10%;
}
@media (min-width: 820px) {
  /* line 12, ../../../sass/_callout.scss */
  .callout__text {
    width: 30%;
  }
}

/* line 19, ../../../sass/_callout.scss */
.callout__image {
  display: inline-block;
}
@media (min-width: 820px) {
  /* line 19, ../../../sass/_callout.scss */
  .callout__image {
    width: 50%;
    float: right;
    min-height: 500px;
    background: #556476 url(../img/callout_client-meeting.jpg) no-repeat 25%;
    background-size: cover;
  }
}

/* line 33, ../../../sass/_callout.scss */
.callout__statement {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* line 37, ../../../sass/_callout.scss */
.callout__statement--quote {
  font-style: italic;
  padding-bottom: 2em;
}

/* line 1, ../../../sass/_contact.scss */
.section__contact-info {
  margin: 0 auto;
  line-height: 1.25em;
  padding-bottom: 60px;
  color: #fff;
}
/* line 6, ../../../sass/_contact.scss */
.section__contact-info a {
  text-decoration: none;
  color: #fff;
}
@media (min-width: 820px) {
  /* line 11, ../../../sass/_contact.scss */
  .section__contact-info br {
    display: none;
  }
  /* line 14, ../../../sass/_contact.scss */
  .section__contact-info li {
    display: inline-block;
  }
}

@media (min-width: 1280px) {
  /* line 20, ../../../sass/_contact.scss */
  .footer__phone:after {
    content: "|";
    padding: 0 15px 0 20px;
  }
}
/* line 25, ../../../sass/_contact.scss */
.contact-info__duxbury {
  background: #37485A url(../img/map_duxbury.jpg) no-repeat;
}

/* line 28, ../../../sass/_contact.scss */
.contact-info__boston {
  background: #37485A url(../img/map_boston.jpg) no-repeat;
}

/* line 31, ../../../sass/_contact.scss */
.contact-info__duxbury, .contact-info__boston {
  display: block;
  padding: 15%;
  margin: 5%;
  font-size: 1em;
  line-height: 1.5em;
  vertical-align: top;
  background-size: cover;
}
@media (min-width: 820px) {
  /* line 31, ../../../sass/_contact.scss */
  .contact-info__duxbury, .contact-info__boston {
    width: 25%;
    display: inline-block;
    padding: 6% 3%;
    margin: 1%;
  }
}

/* line 46, ../../../sass/_contact.scss */
.footer__city {
  display: block;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: .85em;
}

/* line 52, ../../../sass/_contact.scss */
.footer__email {
  font-weight: bold;
}

/* line 55, ../../../sass/_contact.scss */
.footer__phone {
  padding-top: 0;
}

/* line 1, ../../../sass/_footer.scss */
.footer {
  width: 100%;
  padding: 45px 0 15px;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #fff;
  background: #37485A;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../../../sass/_footer.scss */
.footer__nav {
  border-top: 1px solid #556476;
  margin: 0 auto;
  padding: 45px 60px 30px;
  text-align: center;
}
@media (min-width: 1280px) {
  /* line 10, ../../../sass/_footer.scss */
  .footer__nav {
    text-align: left;
  }
}

/* line 19, ../../../sass/_footer.scss */
.footer__nav-links {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: left;
}

/* line 24, ../../../sass/_footer.scss */
.footer__nav-item {
  vertical-align: middle;
  padding: 0;
}
@media (min-width: 1280px) {
  /* line 24, ../../../sass/_footer.scss */
  .footer__nav-item {
    padding: 0 1.25em 0 0;
    display: inline;
  }
}

/* line 32, ../../../sass/_footer.scss */
.footer__nav-link {
  font-size: 1em;
  line-height: 3.25em;
  padding: 1em 0;
  color: #fff;
  text-decoration: none;
}
/* line 38, ../../../sass/_footer.scss */
.footer__nav-link:hover {
  color: #e8af3d;
}
@media (min-width: 1280px) {
  /* line 32, ../../../sass/_footer.scss */
  .footer__nav-link {
    font-size: .8em;
    line-height: 1.25em;
  }
}

/* line 46, ../../../sass/_footer.scss */
.footer__nav-item--slash {
  display: none;
  padding: 0 15px 0 0;
}
@media (min-width: 1280px) {
  /* line 46, ../../../sass/_footer.scss */
  .footer__nav-item--slash {
    display: inline-block;
  }
}

/* line 53, ../../../sass/_footer.scss */
.footer__nav-item--facebook, .footer__nav-item--linkedin {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 15px 30px 30px 0;
}
@media (min-width: 1280px) {
  /* line 53, ../../../sass/_footer.scss */
  .footer__nav-item--facebook, .footer__nav-item--linkedin {
    height: 20px;
    width: 20px;
    padding: 0 10px 0 0;
  }
}

/* line 64, ../../../sass/_footer.scss */
.footer__copyright {
  display: inline-block;
  width: 100%;
  margin: 30px auto 0;
  padding: 0;
  font-family: "Crimson Text", serif;
  font-weight: normal;
  font-size: 1.15em;
  text-transform: none;
  letter-spacing: 0;
  float: none;
  color: #fff;
  opacity: 0.25;
}
@media (min-width: 1280px) {
  /* line 64, ../../../sass/_footer.scss */
  .footer__copyright {
    margin: 0 auto;
    width: auto;
    float: right;
  }
}

/* line 1, ../../../sass/_animation.scss */
body {
  -webkit-animation: fadein ease 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein ease 2s;
  /* Firefox < 16 */
  -ms-animation: fadein ease 2s;
  /* Internet Explorer */
  -o-animation: fadein ease 2s;
  /* Opera < 12.1 */
  animation: fadein ease 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 13, ../../../sass/main.scss */
.section__heading {
  font-size: 1.25em;
  line-height: 2em;
  padding: 0 0 30px 0;
  display: inline-block;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  font-weight: 900;
}

/* line 24, ../../../sass/main.scss */
.section__heading--darkbg {
  color: #fff;
}

/* line 28, ../../../sass/main.scss */
.section__cta {
  display: inline-block;
  width: auto;
  margin: 0 auto 60px;
  padding: 15px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  transition: background .5s;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 38, ../../../sass/main.scss */
.section__cta:hover {
  background: #fff;
  color: #556476;
  transition: background .5s;
}
